body {
background-color:#0d0d0d;
width:100%;
height:100%;margin:0%;padding:0%;
display:flex;
background-image:url("img/image (2).gif");
background-position:50% 110%;
background-repeat:no-repeat;
background-attachment:scroll;

}
nav {
padding-block:1%;
padding-bottom:2%;
width:100%;
height:40px;
background-color:black;
margin:0%;
position:fixed;
box-shadow:1px 1px gray;
z-index:10;
opacity:100%;
}
nav img{
width:12%;
margin-block:0%;
margin-left:2%;
margin-left:4%;
margin-right:-2%;
}
#select {
width:80%;
height:50px;
position:fixed;
margin-block:23%;
margin-left:10%;
outline:none;
border:none;
box-shadow:1px 1px 1px 2px black ;
border-radius:2px;
background-color:gray;
z-index:10;
text-align:center;
font-family:Courier new,monospace;
font-size:18px;
}
label {
font-family:monospace;
position:fixed;
margin-block:17%;
color:green;
margin-left:10%;
z-index:10;
opacity:60%;
}
div {
background-color:gray;
width:75%;
height:50%;
margin-block:38%;
margin-left:10%;
padding-left:5%;
z-index:0;
text-decoration:none;
color:black;
opacity:90%;
}
a {
text-decoration:none;
color:black;
}
#logo {

width:10.5%;
margin-left:55%;
}
#share {width:11.5%;}
p{
color:green;
position:fixed;
display:flex;
font-family:Courier new,monospace;
margin-block:650px;
font-size:12px;
opacity:80%;
text-decoration:;
text-shadow:1px 11px 1px green;
margin-left:35%;
}
#p9{
color:gray;
margin-block:680px;
position:fixed;
margin-left:18%;
text-decoration:underline;
font-family:Courier new,monospace;
}
#hr0{
margin-block:14%;
position:fixed;
width:100%;
border:none;
height:3px;
}




